/* common */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* intro */

.intro {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.intro_content-wrapper {
    max-width: 1000px;
    padding: 0 15px;
    margin-bottom: 70px;
}

.intro_title {
    margin-bottom: 40px;
    font-family: 'Open Sans', sans-serif;
    font-size: 65px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    color: #ffffff;
}

.intro_text {
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    color: #ffffff;
}

.intro_bg-image {
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: #2b2e4a;
    background-image: url(../img/bg/bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.intro_bg-image::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: #2b2e4a;
    opacity: 0.9;
}

@media (max-width: 767px) {
    .intro_content-wrapper {
        margin-bottom: 30px;
    }

    .intro_title {
        margin-bottom: 20px;
        font-size: 34px;
    }

    .intro_text {
        font-size: 16px;
    }
}

/* btn */

.btn {
    display: block;
    padding: 18px 0;
    width: 200px;
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    color: #fff;
    background-color: #e84545;
    border-radius: 3px;
}

@media (max-width: 767px) {
    .btn {
        padding: 10px 0;
        width: 150px;
    }
}

/* header */

.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;

    /* background-color: pink; */
}

.header_inner {
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* burger */

.burger {
    display: none;
    position: relative;
    width: 30px;
    height: 20px;
}

.burger span,
.burger::before,
.burger::after {
    display: block;
    content: '';
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    z-index: 1;
    background-color: #fff;
}

.burger span {
    top: 8px;
    transition: all 0.2s linear;
}

.burger::before {
    top: 0;
    transition: all 0.2s linear;
}

.burger::after {
    bottom: 0;
    transition: all 0.2s linear;
}

.burger.active span {
    transform: scale(0);
}

.burger.active.burger::before {
    transform: rotate(45deg);
    top: 8px;
}

.burger.active.burger::after {
    transform: rotate(-45deg);
    bottom: 8px;
}

@media (max-width: 1023px) {
    .burger {
        display: block;
    }
}

/* menu */

.menu {
    display: flex;
    align-items: center;
}

.menu_item {
    margin-left: 10px;
}

.menu_link {
    color: #fff;
    text-decoration: none;
}

@media (max-width: 1023px) {
    .menu {
        display: none;
    }
}
